Options All -Indexes
Options -Indexes

#Protect the .htaccess
<files .htaccess="">
    order allow,deny
    deny from all
</files>


<IfModule mod_headers.c>
    Header unset "X-Powered-By"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options: nosniff
    Header set x-frame-options: SAMEORIGIN
    Header always unset "X-Powered-By"
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
    Header set Feature-Policy "geolocation 'self'; vibrate 'none'"
</IfModule>
<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_FILENAME}.php -f

    RewriteRule ^(.*)$ $1.php
</IfModule>